$menu-size-height:70px;

header{
    background:#fff;
    box-shadow:0 10px 50px rgba(0, 0, 0, 0.08);
    box-shadow:0 0 30px rgb(115 128 157 / 10%);
    position:absolute;
    inset:0;
    height:$menu-size-height;
    z-index:5;
}

#desktop-menu{

    position:absolute;
    width:100%;
    top:0;
    left:0;
    background:#fff;
    min-height:$menu-size-height; 
    box-shadow:0 2px 4px rgb(3 27 78 / 10%);
    box-shadow:0 0 30px rgb(115 128 157 / 10%);
    z-index:2;

    &.fixed{ /*Menu Principal Fixed*/
        position:fixed;
        background:#fff;
        -webkit-box-shadow: 0 2px 4px rgb(3 27 78 / 10%);
        box-shadow: 0 2px 4px rgb(3 27 78 / 10%);
        box-shadow:0 0 30px rgb(115 128 157 / 10%);
        -webkit-animation: navbarFixed 0.8s;
        animation: navbarFixed 0.8s;
        z-index:2;
        margin-top:-1px;
    }


        /*Menu Links*/
        ul.navbar-nav {

            > li {
                margin-left: 5px;

                &:last-child {
                    margin-left: 12px;
                }

                > a {
                    position: relative;
                    display: block;
                    font:500 15px/22px Inter;
                    color:#1f1845;
                    padding:9px 10px 10px;
                    border-radius:30px; 
                    position: relative;
                    display: block;
                    &.dropdown-toggle::after {
                        display: inline-block;
                        width: 11px;
                        height: 11px;
                        margin-left: 1px;
                        margin-top: 0;
                        vertical-align: middle;
                        content: "";
                        background-image: url('data:image/svg+xml;utf8,<svg xmlns="http://www.w3.org/2000/svg" viewBox="0 0 24 14" fill="none"><path d="M22.0964 2.26436L12.0118 12.5109L1.74743 2.24659" stroke="%231f1845" stroke-width="2.62869" stroke-linecap="round" stroke-linejoin="round"/></svg>');
                        background-size: contain;
                        background-position: center center;
                        background-repeat: no-repeat;
                        border:0;
                        opacity:.5;
                    }
                    &.show::after {
                        transform: rotate(180deg);
                    }

                    &.btn-cs{
                        position: relative;
                        display: block;
                        font: 400 14px / 16px 'Inter';
                        color: #fff;
                        background: var(--site-color-primary);
                        padding: 9px 17px 10px;
                        border-radius: 4px;
                        -webkit-transition: 0.3s ease-in-out;
                        -o-transition: 0.3s ease-in-out;
                        transition: 0.3s ease-in-out;
                        text-decoration: none;
                        &:hover{
                            background:var(--site-color-primary-hover);
                            border-color:var(--site-color-primary-hover);
                        }
                    }

                }
            }
        }


        /*Menu DropDown Links*/
        ul.dropdown-menu {
            margin-top: 5px;
            border: 1px solid rgba(0,0,0,0.05);
            border-radius: 2px;
            -webkit-box-shadow: 0 6px 12px rgb(0 0 0 / 18%);
            box-shadow: 0 6px 12px rgb(0 0 0 / 18%);

            a.dropdown-item {
                font:500 15px/22px Inter;
                color:#1f1845;
                margin: 2px 0;
                padding: 0.45rem 1rem;
                border-radius: 0;
                border-left: 6px solid #f2f2f2;
                border-bottom:1px solid #fff;
                cursor:pointer;
                -webkit-transition: 0.2s ease-in-out;
                -o-transition: 0.2s ease-in-out;
                transition: 0.2s ease-in-out;
                &:hover{
                    border-left:6px solid var(--site-color-primary);
                    border-bottom:1px solid #f2f2f2;
                    background:#fff;
                    color:#444;
                }
            }

        }

         /*Navigation Toggler*/
        .navbar-toggler {
            border-color: transparent;
            border: 0;
            padding: 0;
            margin-left: 12px;
            &:focus {
                box-shadow: none;
            }
        }

        .navbar-toggler-icon {
            width: 30px;
            height: 30px;
            background-image: url("data:image/svg+xml;charset=utf8,%3Csvg viewBox='0 0 32 32' xmlns='http://www.w3.org/2000/svg'%3E%3Cpath stroke='rgb(0,0,0)' stroke-width='2' stroke-linecap='round' stroke-miterlimit='10' d='M4 8h24M4 16h24M4 24h24'/%3E%3C/svg%3E");
        }

}



/*
*
* Custom Options (Seta no Dropdown)
*
*/
.dropdown-caret::before {
    border-bottom: 9px solid rgba(0, 0, 0, 0.15);
    border-left: 9px solid rgba(0, 0, 0, 0);
    border-right: 9px solid rgba(0, 0, 0, 0);
    content: "";
    display: inline-block;
    left: 5%; /* position */
    position: absolute;
    top: -8px;
}
.dropdown-caret::after {
    border-bottom: 8px solid #FFFFFF;
    border-left: 9px solid rgba(0, 0, 0, 0);
    border-right: 9px solid rgba(0, 0, 0, 0);
    content: "";
    display: inline-block;
    left: 5%; /* position */
    position: absolute;
    top: -7px;
}


/*Menu Animation*/
.dropdown-menu {
    transform-origin: top;
    animation: fadeInDown 0.3s ease-in-out;
    display: none;
}
@keyframes fadeInDown {
    from {
        opacity: 0;
        transform: translateY(-10px);
    }

    to {
        opacity: 1;
        transform: translateY(0);
    }
}
@-webkit-keyframes navbarFixed {
    0% {
        opacity: 0;
        -webkit-transform: translateY(-100%);
        transform: translateY(-100%);
    }

    100% {
        opacity: 1;
        -webkit-transform: translateY(0);
        transform: translateY(0);
    }
    }

    @keyframes navbarFixed {
    0% {
        opacity: 0;
        -webkit-transform: translateY(-100%);
        transform: translateY(-100%);
    }

    100% {
        opacity: 1;
        -webkit-transform: translateY(0);
        transform: translateY(0);
    }
}








/*
*
* OffCanvas Menu Mobile
*
*/
#mobile-menu {

    .modal-backdrop{
        z-index:1;
    }

    /*
    *
    * OffCanvas BootStrap Override Styles
    *
    */
        .offcanvas.offcanvas-end {width: 270px;}
        .offcanvas-header {height:$menu-size-height;min-height:$menu-size-height;}
        .offcanvas-body {padding: 1rem 0.5rem; }
        .btn-close {
            border-color: transparent;
            background-size: 14px;
            opacity:1;
            &:focus {
                box-shadow: none;
            }
        }
        .offcanvas-footer {
            background: #f5f6fa;
            padding: 18px;
            border-top: 1px solid #f2f2f2;
            a {
                font: 15px "Open Sans",sans-serif;
                color: #1f1845;
                &:hover {
                    text-decoration: underline;
                }
                >i {
                    font-size: 14px;
                    margin-right: 6px;
                    margin-left: -15px;
                }
            }
        }

        .icon-search{
            display:inline-block;
            width: 16px; 
            height: 16px;
            background-image: url('data:image/svg+xml;utf8,<svg width="16" height="16" viewBox="0 0 16 16" fill="none" xmlns="http://www.w3.org/2000/svg"><path d="M6.66691 12.7002C5.48165 12.7002 4.32294 12.3491 3.33698 11.6913C2.35102 11.0335 1.58197 10.0983 1.12688 9.00393C0.671795 7.90951 0.551046 6.70482 0.779869 5.54185C1.00869 4.37889 1.57684 3.30975 2.41262 2.46932C3.2484 1.62889 4.31438 1.05484 5.47607 0.819582C6.63775 0.58432 7.84308 0.698383 8.94 1.1474C10.0369 1.59642 10.9763 2.36027 11.6396 3.34257C12.3028 4.32487 12.6603 5.48161 12.6669 6.66685C12.6713 7.45758 12.5194 8.24138 12.2198 8.97319C11.9202 9.70499 11.479 10.3704 10.9214 10.9311C10.3638 11.4917 9.70086 11.9367 8.97073 12.2403C8.24059 12.5439 7.45766 12.7002 6.66691 12.7002ZM6.66691 1.6402C5.66974 1.6336 4.69307 1.92334 3.86082 2.47268C3.02858 3.02201 2.37826 3.80618 1.99237 4.72569C1.60649 5.6452 1.50243 6.65861 1.6934 7.63735C1.88437 8.61609 2.36177 9.51605 3.06501 10.223C3.76826 10.93 4.66568 11.4122 5.64339 11.6084C6.6211 11.8046 7.63505 11.7059 8.5566 11.3249C9.47815 10.9439 10.2658 10.2978 10.8195 9.46849C11.3733 8.63918 11.6682 7.66405 11.6669 6.66685C11.6687 5.33777 11.1433 4.06224 10.206 3.11994C9.26871 2.17764 7.99599 1.64549 6.66691 1.6402V1.6402Z" fill="%23ffffff"/><path d="M14.7857 15.2857C14.6531 15.2855 14.526 15.2328 14.4323 15.139L10.2123 10.919C10.124 10.8242 10.0759 10.6988 10.0782 10.5693C10.0805 10.4398 10.133 10.3162 10.2246 10.2246C10.3162 10.133 10.4398 10.0805 10.5693 10.0782C10.6988 10.0759 10.8242 10.124 10.919 10.2123L15.139 14.4323C15.2326 14.5261 15.2852 14.6532 15.2852 14.7857C15.2852 14.9182 15.2326 15.0452 15.139 15.139C15.0438 15.2304 14.9177 15.2828 14.7857 15.2857V15.2857Z" fill="%23ffffff"/></svg>');
            background-size: cover;
            background-repeat: no-repeat;
            background-position: center;
            margin-right:5px;
            margin-left:0;
            vertical-align: -2px;
        }



    /*
    *
    * Mobile OffCanvas Menu Custom
    *
    */
        .logo {width: 95px;height: 29px;}
        .div-cta {
            background: var(--site-color-primary);
            padding: 0.6rem;
        }
        .btn-cta {
            display: flex;
            justify-content: center;
            align-items: center;
            min-height:40px;
            padding: 8px 20px 9px 8px;
            padding-left: 10px;
            width: 95%;
            max-width: 236px;
            text-align: center;
            font: 400 15px/18px var(--var-ff-bootstrap);
            color: #fff !important;
            text-decoration: none;
            border-radius: 4px;
            //box-shadow: inset 0 -3px 0 0 rgb(0 0 0 / 5%);
            background: var(--site-color-primary);
            white-space: nowrap;
            &:hover {
                text-decoration: underline;
            }
            .arrow {
                font-size: 26px;
            }
        }
}


/*
*
* OffCanvas Menu Navigation
*
*/
#mobile-navigation {


    /*
    *
    * OffCanvas Menu Links
    *
    */

        > a {
            font:500 15px/22px Inter;
            color: #1f1845;
            padding: 12px 15px;
            position: relative;
            display: block;
            -webkit-transition: 0.3s ease-in-out;
            -o-transition: 0.3s ease-in-out;
            transition: 0.3s ease-in-out;
            border-radius: 10px;
            margin-bottom: 2px;
            &:hover {
                //background: #f5f6fa;
                text-decoration: underline;
            }
            >i {
                font-size: 15px;
                margin-right: 6px;
            }
            >span {
                font-size: 17px;
                float: right;
            }
        }
        >a.active {
            background: #f5f6fa;
        }
        hr.divider {
            border-color: #e9eaec;
            opacity: 1;
        }

        .arrow-nav {
            display: inline-block;
            width: 13px;
            height: 13px;
            margin-top:4px;
            vertical-align: middle;
            content: "";
            background-image: url('data:image/svg+xml;utf8,<svg xmlns="http://www.w3.org/2000/svg" viewBox="0 0 24 14" fill="none"><path d="M22.0964 2.26436L12.0118 12.5109L1.74743 2.24659" stroke="%231f1845" stroke-width="2.62869" stroke-linecap="round" stroke-linejoin="round"/></svg>');
            background-size: contain;
            background-position: center center;
            background-repeat: no-repeat;
            border:0;
            opacity:.4;
        }


        /*
        *
        * Menu Mobile OffCanvas DropDown Links
        *
        */
            ul {
                
                li {
                        padding-left: 6px;
                        margin-left:6px;
                        position: relative;
                        background:#fbfbfb;
                        border-left:2px solid #eee;
                    a {
                        display: block;
                        font:500 15px/22px Inter;
                        color: #1f1845;
                        padding: 11px 6px;
                        margin-bottom:4px;
                            color: #000;
                        &:hover {
                            color: var(--site-color-primary);
                        }
                    }


                }
            }

}

