@import url("https://fonts.googleapis.com/css2?family=Montserrat:wght@100;200;300;400;500;600;700;800;900&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Open+Sans:wght@300;400;500;600;700;800&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Poppins:wght@300;400;500;600;700;800&display=swap");
:root {
  --var-padding-container:1.5rem;
}

.cover-img-responsive .wrap-image img {
  content: url("https://www.ph3a.com.br/Content/site/images/databusca-modulo-min.webp");
  border-radius: 20px;
}
@media (max-width: 768px) {
  .cover-img-responsive .wrap-image {
    background: url("https://www.ph3a.com.br/Content/site/images/databusca-modulo-min.webp") no-repeat top -50px center;
    width: 100%;
    height: 250px;
    border-radius: 20px;
    background-size: cover;
  }
  .cover-img-responsive .wrap-image img {
    display: none;
  }
}

.wrap-grid-full {
  display: grid;
  grid-template: "img" "title" "cards"/100%;
}
.wrap-grid-full .img {
  grid-area: img;
  background-color: lightcoral;
}
.wrap-grid-full .title {
  grid-area: title;
  background-color: lightblue;
}
.wrap-grid-full .cards {
  grid-area: cards;
  background-color: lightgreen;
}