@import url("https://fonts.googleapis.com/css2?family=Montserrat:wght@100;200;300;400;500;600;700;800;900&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Open+Sans:wght@300;400;500;600;700;800&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Poppins:wght@300;400;500;600;700;800&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Inter:wght@300;400;500;600;700;800&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Roboto:wght@300;400;500;600;700;800&display=swap");
:root {
  --site-color-primary:#ff6c00 ;
  --site-color-primary-hover:#df5c00;
  --site-color-black: #000;
}

.ff-family {
  font-family: "MontSerrat", Arial, Helvetica, sans-serif;
}

.fc-primary {
  color: var(--site-color-primary);
}

.fw-300 {
  font-weight: 300;
}

.fw-400 {
  font-weight: 400;
}

.fw-500 {
  font-weight: 500;
}

.fw-600 {
  font-weight: 600;
}

.fw-700 {
  font-weight: 700;
}

.btn-cs {
  background-color: var(--site-color-primary);
  color: #fff;
}
.btn-cs:hover {
  background-color: var(--site-color-primary-hover);
  color: #fff;
}

.footer-04 {
  font-family: "Nunito", Arial, sans-serif;
  font-size: 15px;
  line-height: 1.8;
  font-weight: normal;
  padding: 4.1em 0;
}
.footer-04 > div {
  padding-left: 1.8rem;
  padding-right: 1.8rem;
}
.footer-04 > div:last-child {
  padding: 40px 1rem 42px !important;
}
@media (min-width: 992px) {
  .footer-04 {
    padding: 6.5em 0;
  }
  .footer-04 > div {
    padding-left: calc(var(--bs-gutter-x) * 0.5);
    padding-right: calc(var(--bs-gutter-x) * 0.5);
  }
}

.img,
.blog-img,
.user-img {
  background-size: cover;
  background-repeat: no-repeat;
  background-position: center center;
}

.ftco-footer-social li {
  list-style: none;
  margin: 0 10px 0 0;
  display: inline-block;
}
.ftco-footer-social li a {
  height: 40px;
  width: 40px;
  display: block;
  background: rgba(0, 0, 0, 0.05);
  border-radius: 50%;
  position: relative;
}
.ftco-footer-social li a span {
  position: absolute;
  font-size: 20px;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
}
.ftco-footer-social li a:hover {
  color: #ffffff;
}

.form-control {
  height: 52px;
  background: #ffffff;
  color: #000000;
  font-size: 18px;
  border-radius: 0px;
  box-shadow: none;
  border: 1px solid rgba(0, 0, 0, 0.1);
}
.form-control:focus, .form-control:active {
  outline: none !important;
  box-shadow: none;
}

textarea.form-control {
  height: inherit !important;
}

.tagcloud a {
  text-transform: uppercase;
  display: inline-block;
  padding: 4px 10px;
  margin-bottom: 7px;
  margin-right: 4px;
  border-radius: 4px;
  font-size: 11px;
}
.tagcloud a:hover {
  border: 1px solid #000;
}

.ftco-section {
  padding: 12em 0;
}
.ftco-section h2 {
  margin-bottom: 0;
}

.footer-04 {
  background: #272727;
  padding-bottom: 0;
}
.footer-04 .border-top {
  border-color: #1a1a1a !important;
  background: #1a1a1a;
}
.footer-04 .footer-heading {
  font-size: 13px;
  color: #ffffff;
  margin-bottom: 30px;
  text-transform: uppercase;
  font-weight: 600;
  letter-spacing: 1px;
}
.footer-04 .footer-heading .logo {
  letter-spacing: none;
  font-size: 13px;
  color: #ffffff;
  text-transform: uppercase;
}
.footer-04 p {
  color: rgba(255, 255, 255, 0.3);
}
.footer-04 a {
  color: #f7b633;
}
.footer-04 .ftco-footer-social li a {
  color: #ffffff;
}
.footer-04 .ftco-footer-social li a:hover {
  background: #111;
}
.footer-04 .tagcloud a {
  border: 1px solid rgba(255, 255, 255, 0.1);
  color: #ffffff;
}
.footer-04 .tagcloud a:hover {
  background: #111;
}
.footer-04 .list-unstyled li a {
  color: rgba(255, 255, 255, 0.7);
}
.footer-04 .list-unstyled a {
  color: rgba(255, 255, 255, 0.7);
}
.footer-04 .ftco-footer-social li a {
  border-radius: 4px;
  border: 1px solid rgba(255, 255, 255, 0.1);
}
.footer-04 .subscribe-form .form-group {
  position: relative;
  margin-bottom: 0;
  border-radius: 0;
}
.footer-04 .subscribe-form .form-group input {
  background: rgba(255, 255, 255, 0.05) !important;
  border: none !important;
  outline: none !important;
  color: rgba(255, 255, 255, 0.3) !important;
  font-size: 16px;
  padding: 0.375rem 1rem;
  border-radius: 0;
}
.footer-04 .subscribe-form .form-group input::-webkit-input-placeholder { /* Chrome/Opera/Safari */
  color: rgba(255, 255, 255, 0.3) !important;
}
.footer-04 .subscribe-form .form-group input::-moz-placeholder { /* Firefox 19+ */
  color: rgba(255, 255, 255, 0.3) !important;
}
.footer-04 .subscribe-form .form-group input:-ms-input-placeholder { /* IE 10+ */
  color: rgba(255, 255, 255, 0.3) !important;
}
.footer-04 .subscribe-form .form-group input:-moz-placeholder { /* Firefox 18- */
  color: rgba(255, 255, 255, 0.3) !important;
}
.footer-04 .subscribe-form .form-group input:focus {
  outline: none !important;
  box-shadow: none;
}
.footer-04 .subscribe-form .form-group .submit {
  color: #ffffff !important;
  display: block;
  width: 52px;
  height: 52px;
  font-size: 16px;
  background: #f7b633 !important;
  border: none;
  border-radius: 0;
}
.footer-04 .subscribe-form .form-group .submit:hover, .footer-04 .subscribe-form .form-group .submit:focus {
  text-decoration: none !important;
  outline: none !important;
}
.footer-04 .copyright {
  color: rgba(255, 255, 255, 0.25);
}
.footer-04 .copyright a {
  color: rgba(255, 255, 255, 0.5);
}

.ftco-footer-social li a {
  color: #ffffff;
}
.ftco-footer-social li a:hover {
  background: #111;
}

:root {
  --var-menu-height:70px;
  --var-site-primary-color:#ff6c00;
  --site-color-primary-hover:#df5c00;
}

html, body {
  overflow-x: hidden;
  background-color: #f9f9f9;
}

.section-navigation {
  background: #fff;
  box-shadow: 0 10px 50px rgba(0, 0, 0, 0.08);
  position: absolute;
  inset: 0;
  height: var(--var-menu-height);
}

.section-hero-cover {
  background-image: linear-gradient(to bottom, #080808 20%, rgba(60, 60, 60, 0.35) 40%, rgba(0, 0, 0, 0.01) 80%, #000), url(../img/hero-cover-mobile-min.png);
  background-size: cover;
  background-position: bottom -50px center;
  background-repeat: no-repeat;
  min-height: 750px;
  height: 100dvh;
  padding-top: var(--var-menu-height);
  border-radius: 0 0 40px 40px;
}
@media (min-width: 768px) {
  .section-hero-cover {
    min-height: 100dvh;
    background-image: linear-gradient(to right, #080808 10%, rgba(60, 60, 60, 0.45) 40%, rgba(0, 0, 0, 0.01) 80%, #000), url(../img/hero-cover-min.png);
    background-position: top var(--var-menu-height) center;
  }
}
.section-hero-cover.hero-woman {
  min-height: 750px;
  background-image: linear-gradient(to bottom, #080808 20%, rgba(60, 60, 60, 0.35) 40%, rgba(0, 0, 0, 0.01) 80%, #000), url(../img/hero-cover-woman-mobile-min.png);
}
@media (min-width: 768px) {
  .section-hero-cover.hero-woman {
    min-height: 100dvh;
    background-image: linear-gradient(to right, #080808 10%, rgba(60, 60, 60, 0.45) 40%, rgba(0, 0, 0, 0.01) 80%, #000), url(../img/hero-cover-woman.png);
    background-position: bottom right;
  }
}
.section-hero-cover .wrap-content {
  max-width: 400px;
  width: 100%;
}
.section-hero-cover .wrap-content h1 {
  font-family: "Poppins";
  font-weight: 600;
  font-size: calc(1.375rem + 3.5vw);
  color: #fff;
}
.section-hero-cover .wrap-content h1 span {
  color: var(--var-site-primary-color);
}
.section-hero-cover .wrap-content h1 .counter_discount {
  min-width: 60px;
}
.section-hero-cover .wrap-content h1 .counter_symbol {
  zoom: 0.55;
  margin-left: -30px;
}
.section-hero-cover .wrap-content .text-cs {
  font-weight: 400;
  font-family: "Montserrat";
  font-size: 15px;
  max-width: 390px;
  color: #fff;
}
.section-hero-cover .wrap-content input.form-control {
  font: 14px/30px "Inter";
  border-radius: 6px;
  padding: 0.4rem 1.2rem 0.375rem;
  background: #494949;
  color: #000;
  width: 100%;
  border: 0;
}
.section-hero-cover .wrap-content input.form-control::placeholder {
  color: #999;
}
.section-hero-cover .wrap-content button.btn-cs {
  width: 100%;
  background: var(--var-site-primary-color);
  color: #fff;
  padding: 11px;
}
.section-hero-cover .wrap-content button.btn-cs:hover {
  background: var(--site-color-primary-hover);
  border-color: var(--site-color-primary-hover);
}
@media (min-width: 768px) {
  .section-hero-cover .wrap-content h1 {
    font-size: 2.6rem;
  }
  .section-hero-cover .wrap-content h1 .counter_symbol {
    margin-left: -20px;
  }
  .section-hero-cover .wrap-content .text-cs {
    font-size: 17px;
  }
  .section-hero-cover .wrap-content input.form-control, .section-hero-cover .wrap-content button.btn-cs {
    min-width: 85%;
  }
}
.section-hero-cover .icon-search {
  display: inline-block;
  width: 16px;
  height: 16px;
  background-image: url('data:image/svg+xml;utf8,<svg width="16" height="16" viewBox="0 0 16 16" fill="none" xmlns="http://www.w3.org/2000/svg"><path d="M6.66691 12.7002C5.48165 12.7002 4.32294 12.3491 3.33698 11.6913C2.35102 11.0335 1.58197 10.0983 1.12688 9.00393C0.671795 7.90951 0.551046 6.70482 0.779869 5.54185C1.00869 4.37889 1.57684 3.30975 2.41262 2.46932C3.2484 1.62889 4.31438 1.05484 5.47607 0.819582C6.63775 0.58432 7.84308 0.698383 8.94 1.1474C10.0369 1.59642 10.9763 2.36027 11.6396 3.34257C12.3028 4.32487 12.6603 5.48161 12.6669 6.66685C12.6713 7.45758 12.5194 8.24138 12.2198 8.97319C11.9202 9.70499 11.479 10.3704 10.9214 10.9311C10.3638 11.4917 9.70086 11.9367 8.97073 12.2403C8.24059 12.5439 7.45766 12.7002 6.66691 12.7002ZM6.66691 1.6402C5.66974 1.6336 4.69307 1.92334 3.86082 2.47268C3.02858 3.02201 2.37826 3.80618 1.99237 4.72569C1.60649 5.6452 1.50243 6.65861 1.6934 7.63735C1.88437 8.61609 2.36177 9.51605 3.06501 10.223C3.76826 10.93 4.66568 11.4122 5.64339 11.6084C6.6211 11.8046 7.63505 11.7059 8.5566 11.3249C9.47815 10.9439 10.2658 10.2978 10.8195 9.46849C11.3733 8.63918 11.6682 7.66405 11.6669 6.66685C11.6687 5.33777 11.1433 4.06224 10.206 3.11994C9.26871 2.17764 7.99599 1.64549 6.66691 1.6402V1.6402Z" fill="%23ffffff"/><path d="M14.7857 15.2857C14.6531 15.2855 14.526 15.2328 14.4323 15.139L10.2123 10.919C10.124 10.8242 10.0759 10.6988 10.0782 10.5693C10.0805 10.4398 10.133 10.3162 10.2246 10.2246C10.3162 10.133 10.4398 10.0805 10.5693 10.0782C10.6988 10.0759 10.8242 10.124 10.919 10.2123L15.139 14.4323C15.2326 14.5261 15.2852 14.6532 15.2852 14.7857C15.2852 14.9182 15.2326 15.0452 15.139 15.139C15.0438 15.2304 14.9177 15.2828 14.7857 15.2857V15.2857Z" fill="%23ffffff"/></svg>');
  background-size: cover;
  background-repeat: no-repeat;
  background-position: center;
  margin-right: 6px;
  margin-left: -15px;
  vertical-align: -2px;
}