
// Override default variable values before importing Bootstrap
@import "_variables";

// Import Bootstrap
@import "../../vendor/bootstrap-5.3.3/scss/bootstrap";

// Import Custom Settings after importing Bootstrap to override default  
@import "_custom";
@import "_footer";

// Google Fonts
@import url('https://fonts.googleapis.com/css2?family=Montserrat:wght@100;200;300;400;500;600;700;800;900&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Open+Sans:wght@300;400;500;600;700;800&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@300;400;500;600;700;800&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Inter:wght@300;400;500;600;700;800&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Roboto:wght@300;400;500;600;700;800&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Rubik:wght@300;400;500;600;700;800&display=swap');


:root{
    --var-menu-height:70px;
    --var-site-primary-color:#ff6c00;
    --site-color-primary-hover:#df5c00;
}

html,body{
    overflow-x: hidden;
}

.fc-gradient{
    color: transparent;
    background:#ff6c00;
     background: linear-gradient(90deg, #ff6c00  0%, #ffba00 100%);
    -webkit-background-clip: text;
    background-clip: text;
}



.section-navigation{
    background:#fff;box-shadow:0 10px 50px rgba(0, 0, 0, 0.08);
    position:absolute;
    inset:0;
    height:var(--var-menu-height);
    z-index:1;
}


.section-hero-cover{
    position:relative;
    background-image: linear-gradient(to bottom,#080808 20%,rgba(60,60,60,.35) 40%,rgba(0,0,0,.01) 80%,#000), url(../img/hero-cover-mobile-min.png);
    background-size: cover;
    background-position: bottom -50px center;
    background-repeat: no-repeat;
    min-height: 750px;
    height:100dvh;
    padding-top:var(--var-menu-height);
    border-radius:0 0 40px 40px;
    @media (min-width: 768px) {
        min-height: 100dvh;
        background-image: linear-gradient(to right, #080808 10%, rgba(60, 60, 60, 0.45) 40%, rgba(0, 0, 0, 0.01) 80%, #000), url(../img/hero-cover-min.png);
        background-position: top var(--var-menu-height) center;
    }

    &.hero-woman{
        min-height: 750px;
        background-image: linear-gradient(to bottom,#080808 20%,rgba(60,60,60,.35) 40%,rgba(0,0,0,.01) 80%,#000), url(../img/hero-cover-woman-mobile-min.png);
        @media (min-width: 768px) {
            min-height: 100dvh;
            background-image: linear-gradient(to right, #080808 10%, rgba(60, 60, 60, 0.45) 40%, rgba(0, 0, 0, 0.01) 80%, #000), url(../img/hero-cover-woman.png);
            background-position: bottom right;
        }
    }

    .wrap-content{
        max-width: 370px;
        width:100%;
        h1{
            font-family: 'Poppins';
            font-weight: 600;
            font-size: calc(1.375rem + 3.5vw);
            color:#fff;
            span{
                color:var(--var-site-primary-color);
            }
            .counter_discount{
                min-width: 60px;
            }
            .counter_symbol{
                zoom:.55;
                margin-left:-30px;
            }
        }
        .text-cs{
            font-weight: 400;
            font-family: 'Montserrat';
            font-size: 15px;
            max-width: 390px;
            color:#fff;
        }
        input.form-control{
            font:16px / 30px 'Inter';
            border-radius:6px;
            padding:.4rem 1.2rem .375rem;
            background:#494949;
            color: #000; 
            width:100%;
            border:0;
            &::placeholder { 
                color: #999; 
                font-size:15px;
            }
        }
        button.btn-cs{
            width: 100%;
            background:var(--var-site-primary-color);
            color:#fff;
            padding: 11px;
            &:hover{
                background:var(--site-color-primary-hover);
                border-color:var(--site-color-primary-hover);
            }
        }
    }

    @media (min-width: 768px) {

        .wrap-content{
            h1{
                font-size: 2.6rem;
                .counter_symbol{
                    margin-left:-20px;
                }
            }
            .text-cs{
                font-size: 17px;
            }
            input.form-control, button.btn-cs{
                min-width: 85%;
            }
        }
    }

    .icon-search{
            display:inline-block;
            width: 16px; 
            height: 16px;
            background-image: url('data:image/svg+xml;utf8,<svg width="16" height="16" viewBox="0 0 16 16" fill="none" xmlns="http://www.w3.org/2000/svg"><path d="M6.66691 12.7002C5.48165 12.7002 4.32294 12.3491 3.33698 11.6913C2.35102 11.0335 1.58197 10.0983 1.12688 9.00393C0.671795 7.90951 0.551046 6.70482 0.779869 5.54185C1.00869 4.37889 1.57684 3.30975 2.41262 2.46932C3.2484 1.62889 4.31438 1.05484 5.47607 0.819582C6.63775 0.58432 7.84308 0.698383 8.94 1.1474C10.0369 1.59642 10.9763 2.36027 11.6396 3.34257C12.3028 4.32487 12.6603 5.48161 12.6669 6.66685C12.6713 7.45758 12.5194 8.24138 12.2198 8.97319C11.9202 9.70499 11.479 10.3704 10.9214 10.9311C10.3638 11.4917 9.70086 11.9367 8.97073 12.2403C8.24059 12.5439 7.45766 12.7002 6.66691 12.7002ZM6.66691 1.6402C5.66974 1.6336 4.69307 1.92334 3.86082 2.47268C3.02858 3.02201 2.37826 3.80618 1.99237 4.72569C1.60649 5.6452 1.50243 6.65861 1.6934 7.63735C1.88437 8.61609 2.36177 9.51605 3.06501 10.223C3.76826 10.93 4.66568 11.4122 5.64339 11.6084C6.6211 11.8046 7.63505 11.7059 8.5566 11.3249C9.47815 10.9439 10.2658 10.2978 10.8195 9.46849C11.3733 8.63918 11.6682 7.66405 11.6669 6.66685C11.6687 5.33777 11.1433 4.06224 10.206 3.11994C9.26871 2.17764 7.99599 1.64549 6.66691 1.6402V1.6402Z" fill="%23ffffff"/><path d="M14.7857 15.2857C14.6531 15.2855 14.526 15.2328 14.4323 15.139L10.2123 10.919C10.124 10.8242 10.0759 10.6988 10.0782 10.5693C10.0805 10.4398 10.133 10.3162 10.2246 10.2246C10.3162 10.133 10.4398 10.0805 10.5693 10.0782C10.6988 10.0759 10.8242 10.124 10.919 10.2123L15.139 14.4323C15.2326 14.5261 15.2852 14.6532 15.2852 14.7857C15.2852 14.9182 15.2326 15.0452 15.139 15.139C15.0438 15.2304 14.9177 15.2828 14.7857 15.2857V15.2857Z" fill="%23ffffff"/></svg>');
            background-size: cover;
            background-repeat: no-repeat;
            background-position: center;
            margin-right:6px;
            margin-left:-15px;
            vertical-align: -2px;
    }

    ._shades{
            position: absolute;
            top: 10vw;
            left: 0;
            z-index: 1;
            display: flex;
        
        ._transparent {
            width: 300px;
            height: 70px;
            margin-left: -170px;
            border: 1px solid #fff;
            transform: scaleX(-1) skew(1deg,10deg);
            opacity: .2;
        }
        
        ._filled {
            width: 200px;
            height: 70px;
            margin-left: -170px;
            background-color: #ea430e;
            background-image: linear-gradient(90deg,#ea430e 0%,#f16e44 100%);
            transform: scaleX(-1) skew(1deg,10deg);
            opacity: .15;
        }
    }
    
}




.section-vantagens{

    position:relative;
    background:#F5F6FA;

    --var-main-font-regular: Poppins;

    .display-cs {
        line-height: 0.92;
        font-family: var(--var-main-font-regular);
        color:#000;
        margin-bottom:2rem;
        letter-spacing: -1px;;
    }

    .btn-cs {
        border-radius: 5px;
        padding: 0.8rem 1.2rem;
        font-size: 16px;
        width: fit-content;
        background: #000;
        margin-top:-20px;
        &:hover {
            opacity:.75;
        }
    }

    @media (max-width: 768px) {
        .display-cs {
            font-size:40px;
        } 
        .btn-cs {
            padding: 0.6rem 1.15rem 0.7rem;
            font-size: 14px;
            margin-top: -5px;
            width: 100%;
        }
    }

    .push-notification{
        position:absolute;top: 70px;right: 0;z-index:1;border-radius:5px;
        img{zoom:.65}
        @media (max-width: 768px) {
            position:absolute;top: -5px;left: -10px;z-index:1;border-radius:5px;
            img{zoom:.62}
        }
    }

    .img-revert{
        margin-top:-20px;
        transform: scale(-1, 1); max-width: 450px; object-fit: contain; display: flex; align-self: start; 
        @media (max-width: 768px) {
            margin-top:-20px;
            transform: none; 
            max-width: 100%;
        }
    }

    /* Grid For desktop */
    .grid-container {
        display: grid;
        grid-template-columns: repeat(2, 1fr);
        gap: 20px;
        width:100%;
    }
    .grid-item {
        padding: 40px;
        background:#fff;
        zoom:.8;
    }

    /* Grid For Mobile */
    @media (max-width: 768px) {
        .grid-container {
            grid-template-columns: repeat(2, 1fr);
            gap: 5px;
            max-width: 100%;
            margin:0 auto;
        }
        .grid-item {
            padding: 20px 25px 30px;
        }
    }

    .box-number{
        display:flex;
        justify-content: center;
        align-items: start;
        flex-direction: column;
        > div{
            &:first-child{
                font-family: var(--var-main-font-light);
                color:#C12746;
            }
            &:nth-child(2){
                font-size:16px;
                font-family: "Inter", Arial, sans-serif;
                color:#000;
                font-weight: 700;
            }
            &:nth-child(3){
                font-size:16px;
                font-family: "Inter", Arial, sans-serif;
                color:#000;
            }
            &:last-child{
                margin-top: 20px;
                width: 70px;
                height: 3px;
                background: #ddd;
                border-radius: 5px;
                display: block;
            }
        }

        //Mobile
        @media (max-width: 768px) {

            > div{
                &:first-child{
                    font-family: var(--var-main-font-light);
                    color:#C12746;
                }
                &:nth-child(2){
                    font-size:16px;
                    font-family: "Inter", Arial, sans-serif;
                    color:#000;
                    font-weight: 700;
                }
                &:nth-child(3){
                    font-size:16px;
                    font-family: "Inter", Arial, sans-serif;
                    color:#000;
                }
                &:last-child(3){
                    margin-top: 15px;
                    width: 50px;
                    height: 2px;
                    background: #C12746;
                    border-radius: 5px;
                    display: block;
                }
            }

        }
    }

}



.section-cover-orange{
    
    position:relative;
    //background:url('https://assets-global.website-files.com/6143565787b5546c16508505/6144dca1557cc5cbaaeef191_bg-1-cta-construction-x-template.svg') no-repeat left bottom #ff6c00;
    //background-size:600px;
    
    background-image: linear-gradient(to bottom, rgb(130 48 0 / 50%) 0%, rgb(180 68 3 / 90%) 100%), url(https://www.ewally.com.br/wp-content/uploads/2023/06/use-cases-fintech.jpg);
    background-size: cover;
    background-repeat:no-repeat;
    background-position: bottom center;
    background-color:#ff6c00;

    .display-cs {
        line-height: 1.2;
        font-family: var(--var-main-font-light);
        font-weight: 300;
        color:#fff;
        margin-bottom:2.2rem;
        max-width: 600px;
        font-size:2.6rem;
        //Mobile
        @media (max-width: 768px) {
            font-size:30px;
            font-family: var(--var-main-font-light);
            margin-bottom:2.2rem;
        }
            span{
                font-family: var(--var-main-font-bold);
                font-weight: 700;
            }
    }

    .btn-cs {
        border-radius: 5px;
        padding: 0.8rem 2.2rem 0.9rem;
        font-size: 16px;
        width: fit-content;
        margin: 0 auto;
        background: rgba(0,0,0,.35);
        border:0;
        &:hover {
            background: rgba(0,0,0,.95);
        }
    }

    @media (max-width: 768px) {
        .btn-cs {
            padding: 0.6rem 1.5rem 0.7rem;
            font-size: 14px;
            margin-top: -5px;
        }
    }

}