
// Override default variable values before importing Bootstrap
// @import "_variables";

// Import Bootstrap
@import "../../vendor/bootstrap-5.3.3/scss/bootstrap";

// Define Custom and Specific CSS Rules to this Project
@import "_custom_utilities";

// Import Custom Settings after importing Bootstrap to override default  
@import "_custom_initial";
@import "_menu";
@import "_footer";

// Google Fonts
@import url('https://fonts.googleapis.com/css2?family=Montserrat:wght@100;200;300;400;500;600;700;800;900&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Open+Sans:wght@300;400;500;600;700;800&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@300;400;500;600;700;800&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Inter:wght@300;400;500;600;700;800&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Roboto:wght@300;400;500;600;700;800&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Rubik:wght@300;400;500;600;700;800&display=swap');


// Import Página Parceiros
@import "_parceiros";


#negotiation{
    background:#F5F6FA;
}
.section-hero-cover{
    position:relative;
    background-image: linear-gradient(to bottom,rgba(0,0,0,.3) 20%, rgba(60, 60, 60, 0.35) 40%,rgba(0,0,0,.01) 80%,#000), url(../img/hero-cover-mobile-min.png);
    background-size: cover;
    background-position: bottom -50px center;
    background-repeat: no-repeat;
    min-height: 750px;
    height:100dvh;
    padding-top:var(--var-menu-height);
    border-radius:0 0 40px 40px;
    background-color:#222;
    @media (min-width: 768px) {
        min-height: 100dvh;
        background-image: linear-gradient(to right, #080808 10%, rgba(60, 60, 60, 0.45) 40%, rgba(0, 0, 0, 0.01) 80%, #000), url(../img/hero-cover-min.png);
        background-position: top var(--var-menu-height) center;
    }

    &.hero-woman{
        min-height: 750px;
        background-image: linear-gradient(to bottom,rgba(0,0,0,.3) 20%, rgba(60, 60, 60, 0.35) 40%,rgba(0,0,0,.01) 80%,#000), url(../img/hero-cover-woman-mobile-min.png);
        @media (min-width: 768px) {
            min-height: 100dvh;
            background-image: linear-gradient(to right, #080808 10%, rgba(60, 60, 60, 0.45) 40%, rgba(0, 0, 0, 0.01) 80%, #000), url(../img/hero-cover-woman.png);
            background-position: bottom right;
        }
    }

    .wrap-content{
        max-width: 370px;
        width:100%;
        h1{
            font-family: 'Poppins';
            font-weight: 600;
            font-size: calc(1.375rem + 3.5vw);
            line-height: 1.15;
            color:#fff;
            span{
                color:var(--site-color-primary);
            }
            .counter_discount{
                min-width: 60px;
            }
            .counter_symbol{
                zoom:.55;
                margin-left:-30px;
            }
        }
        .text-cs{
            font-weight: 400;
            font-family: 'Montserrat';
            font-size: 15px;
            max-width: 390px;
            color:#fff;
        }
        input.form-control{
            font:16px / 30px 'Inter';
            border-radius:6px;
            padding:14px 15px 16px;
            background:#f9f9f9;
            color: #000; 
            width:100%;
            height: 50px;
            border:0;
            margin-bottom:15px;
            &::placeholder { 
                color: #999; 
                font-size:15px;
            }
        }
        button.btn-cs{
            width: 100%;
            background:var(--site-color-primary);
            color:#fff;
            padding: 11px;
            &:hover{
                background:var(--site-color-primary-hover);
                border-color:var(--site-color-primary-hover);
            }
        }
    }

    @media (min-width: 768px) {
        .wrap-content{
            h1{
                font-size: 2.6rem;
                .counter_symbol{
                    margin-left:-20px;
                }
            }
            .text-cs{
                font-size: 17px;
            }
            input.form-control, button.btn-cs{
                min-width: 85%;
            }
        }
    }

    .icon-search{
            display:inline-block;
            width: 16px; 
            height: 16px;
            background-image: url('data:image/svg+xml;utf8,<svg width="16" height="16" viewBox="0 0 16 16" fill="none" xmlns="http://www.w3.org/2000/svg"><path d="M6.66691 12.7002C5.48165 12.7002 4.32294 12.3491 3.33698 11.6913C2.35102 11.0335 1.58197 10.0983 1.12688 9.00393C0.671795 7.90951 0.551046 6.70482 0.779869 5.54185C1.00869 4.37889 1.57684 3.30975 2.41262 2.46932C3.2484 1.62889 4.31438 1.05484 5.47607 0.819582C6.63775 0.58432 7.84308 0.698383 8.94 1.1474C10.0369 1.59642 10.9763 2.36027 11.6396 3.34257C12.3028 4.32487 12.6603 5.48161 12.6669 6.66685C12.6713 7.45758 12.5194 8.24138 12.2198 8.97319C11.9202 9.70499 11.479 10.3704 10.9214 10.9311C10.3638 11.4917 9.70086 11.9367 8.97073 12.2403C8.24059 12.5439 7.45766 12.7002 6.66691 12.7002ZM6.66691 1.6402C5.66974 1.6336 4.69307 1.92334 3.86082 2.47268C3.02858 3.02201 2.37826 3.80618 1.99237 4.72569C1.60649 5.6452 1.50243 6.65861 1.6934 7.63735C1.88437 8.61609 2.36177 9.51605 3.06501 10.223C3.76826 10.93 4.66568 11.4122 5.64339 11.6084C6.6211 11.8046 7.63505 11.7059 8.5566 11.3249C9.47815 10.9439 10.2658 10.2978 10.8195 9.46849C11.3733 8.63918 11.6682 7.66405 11.6669 6.66685C11.6687 5.33777 11.1433 4.06224 10.206 3.11994C9.26871 2.17764 7.99599 1.64549 6.66691 1.6402V1.6402Z" fill="%23ffffff"/><path d="M14.7857 15.2857C14.6531 15.2855 14.526 15.2328 14.4323 15.139L10.2123 10.919C10.124 10.8242 10.0759 10.6988 10.0782 10.5693C10.0805 10.4398 10.133 10.3162 10.2246 10.2246C10.3162 10.133 10.4398 10.0805 10.5693 10.0782C10.6988 10.0759 10.8242 10.124 10.919 10.2123L15.139 14.4323C15.2326 14.5261 15.2852 14.6532 15.2852 14.7857C15.2852 14.9182 15.2326 15.0452 15.139 15.139C15.0438 15.2304 14.9177 15.2828 14.7857 15.2857V15.2857Z" fill="%23ffffff"/></svg>');
            background-size: cover;
            background-repeat: no-repeat;
            background-position: center;
            margin-right:6px;
            margin-left:-15px;
            vertical-align: -2px;
    }

    ._shades{
            position: absolute;
            top: 10vw;
            left: 0;
            z-index: 1;
            display: flex;
        
        ._transparent {
            width: 300px;
            height: 70px;
            margin-left: -170px;
            border: 1px solid #fff;
            transform: scaleX(-1) skew(1deg,10deg);
            opacity: .2;
        }
        
        ._filled {
            width: 200px;
            height: 70px;
            margin-left: -170px;
            background-color: #ea430e;
            background-image: linear-gradient(90deg,#ea430e 0%,#f16e44 100%);
            transform: scaleX(-1) skew(1deg,10deg);
            opacity: .15;
        }
    }
    
}



.section-vantagens{

    position:relative;
    background:#F5F6FA;
    z-index: 0;

    .fs-custom{
        font-family: var(--var-ff-poppins);
        color:#000;
        margin-bottom:1rem;
        letter-spacing: -1px;
        @media (max-width: 768px) {
            margin-top:-8px;
            font-size:calc(1.375rem + 1.85vw);
            margin-bottom:1rem;
            line-height: 1.2;
        }
    }
    
    .push-notification{
        position:absolute;top: 70px;right: 0;z-index:1;border-radius:5px;
        img{zoom:.65}
        @media (max-width: 768px) {
            position:absolute;top: -20px;left: -10px;z-index:1;border-radius:5px;
            img{zoom:.65}
        }
    }

    .img-revert{
        margin-top:-20px;
        transform: scale(-1, 1); max-width: 450px; object-fit: contain; display: flex; align-self: start; 
        margin-bottom:20px;
        @media (max-width: 768px) {
            margin-top:-35px;
            transform: none; 
            max-width: 100%;
            margin-bottom:10px;
        }
    }

    .grid-container { // Grid Desktop
        display: grid;
        grid-template-columns: repeat(2, 1fr);
        gap: 20px;
        width:100%;
    }
    .grid-item {
        padding: 15px 25px 28px;
        background:#fff;
    }
    @media (max-width: 768px) { //Grid Mobile
        .grid-container {
            grid-template-columns: repeat(2, 1fr);
            gap: 5px;
            max-width: 100%;
            margin:0 auto;
        }
        .grid-item {
            padding: 18px 24px 28px;
        }
    }

    .box-cs{
        display:flex;
        justify-content: center;
        align-items: start;
        flex-direction: column;
        zoom:.9;
        > div{
            font-family: "Inter", Arial, sans-serif;
            color:#000;
            &:nth-child(1){
                height: 50px;
                display: flex;
                align-items: center;
                margin-bottom:0.5rem;
            }
            &:nth-child(2){
                font-size:15px;
                font-weight: 700;
                @media (max-width: 768px) { font-size:15px; }
            }
            &:nth-child(3){
                font-size:14px;
                @media (max-width: 768px) { font-size:13px; }
            }
            &.hr-cs{
                margin-top: 15px;
                width: 70px;
                height: 3px;
                background: #ebecf1;
                border-radius: 5px;
                display: block;
            }
        }

    }

}



.section-cover-livre{
    
    position:relative; 
    background-image: linear-gradient(to bottom, rgb(130 48 0 / 50%) 0%, rgb(180 68 3 / 90%) 100%), url('/assets/img/bg-full-woman-min.jpg');
    background-size: cover;
    background-repeat:no-repeat;
    background-position: center center;
    background-color:#ff6c00;


    .fs-custom{
        font-family: var(--var-ff-bootstrap);
        color:#fff;
        font-weight: 300;
        font-size:2.8rem;
        letter-spacing: -1px;
        margin-top:-15px;
        margin-bottom:1.4rem;
        @media (max-width: 768px) {
            font-size:30px;
            margin-top:-5px;
            margin-bottom:1.4rem;
        }
        span{
            font-weight: bold;
        }
    }

    .btn-cs {
        border-radius: 30px;
        padding: 0.8rem 2.2rem 0.9rem;
        font-size: 16px;
        width: fit-content;
        margin: 0 auto;
        background: rgba(0,0,0,.5);
        border:0;
        white-space:nowrap;
        color:#fff;
        &:hover,&:active,&:focus {
            background: rgba(0,0,0,.95);
            color:#fff;
        }
        @media (max-width: 768px) {
            padding: 0.7rem 2rem 0.8rem;
            font-size: 14px;
            margin-top: -5px;
        }
    }

}

.section-cover-prioridade{

    .wrap-content{
        .fs-custom{
            line-height: 1.1;
            @media (max-width: 768px) {
                font-size:calc(1.375rem + 1.85vw);
            }
        }
    }

    .wrap-image{
        max-width: 580px;
        img{
            width: 100%;
            height: 100%;
        }
        @media (max-width: 768px) {
            margin-top:-12px;
            margin-bottom:15px;
        }
    }

    .btn-cs {
        padding: 0.8rem 1.5rem 0.9rem;
        font-size: 16px;
        width: fit-content;
        margin: 0 auto;
        white-space: nowrap;
        background: #fff;
        border: 1px solid #000;
        border-radius: 2px;
        color: #000;
        &:hover,&:active,&:focus {
            background: rgba(0,0,0,.95);
            color:#fff;
        }
        @media (max-width: 768px) {
            padding: 0.6rem 2rem 0.8rem;
            font-size: 14px;
            margin-top: -5px;
        }
    }

}